blog/node_modules/**/*
blog/.expo/*
blog/npm-debug.*
blog/*.jks
blog/*.p8
blog/*.p12
blog/*.key
blog/*.mobileprovision
blog/*.orig.*
blog/web-build/
blog/web-report/
food/node_modules/**/*
food/.expo/*
food/npm-debug.*
food/*.jks
food/*.p8
food/*.p12
food/*.key
food/*.mobileprovision
food/*.orig.*
food/web-build/
food/web-report/
jsonserver/node_modules/*
rn-starter/node_modules/**/*
rn-starter/.expo/*
rn-starter/npm-debug.*
rn-starter/*.jks
rn-starter/*.p8
rn-starter/*.p12
rn-starter/*.key
rn-starter/*.mobileprovision
rn-starter/*.orig.*
rn-starter/web-build/
rn-starter/web-report/
tracks/node_modules/**/*
tracks/.expo/*
tracks/npm-debug.*
tracks/*.jks
tracks/*.p8
tracks/*.p12
tracks/*.key
tracks/*.mobileprovision
tracks/*.orig.*
tracks/web-build/
tracks/web-report/
track-server/node_modules/*